*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  background: url(../img/fon.jpg) fixed center;
  background-size: cover;
  min-width: 600px;
}

.wrapper {
  margin: 0 auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0 0 15px 15px;
}

header {
  background: url(../img/geokadnew600.png) top no-repeat;
  height: 200px;
  top: 0;
  padding-top: 10px;
  margin: auto;
  border-radius: 0 0 15px 15px;
  border-top: 0px;
  box-shadow: 0px 10px 25px 0px #0b4090;
}

.mainArticle {
  margin-bottom: 30px;
}

p {
  text-align: justify;
  text-indent: 50px;
  font-size: 15px;
  padding: 10px 20px;
}

h3 {
  text-align: center;
  font-size: 20px;
  clear: both;
}
h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 27px;
}
section {
  text-align: center;
}

.mainBlock {
  background-color: rgba(200, 200, 200, 0.7);
  position: relative;
  transform: skewY(-3deg);
  margin-bottom: 50px;
  padding: 30px 0;
  width: 600px;
}

.mainBlock > * {
  transform: skewY(3deg);
}

.mainBlock:nth-child(even) {
  background-color: rgba(200, 200, 200, 0);
  color: black;
  margin: -50px 0 0 0;
}

.mainBlock:nth-last-child(1) {
  margin-bottom: 0px;
}

.article {
  padding: 30px 0;
}

p > img {
  float: right;
  margin: 0 0 0 20px;
  width: 25%;
}

.imgLeft {
  float: left;
  margin: 0 20px 0 0;
}

.list {
  margin-left: 160px;
  margin-right: 55px;
}

.list > li {
  text-align: left;
  margin: 5px 0 0 0;
  font-size: 15px;
}
header > ul {
  margin: 10px;
}
header > ul > li {
  text-align: center;
  width: 60%;
  margin-top: 5px;
  text-align: center;
}

.clientsLogos {
  display: inline-block;
  width: 600px;
}

.clientsLogos > img {
  width: 200px;
  margin: 10px;
}

.town {
  display: inline-flex;
  margin-top: 30px;
  width: 30%;
}

.orderButton {
  position: relative;
  width: 250px;
  height: 35px;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
  font-weight: 700;
  color: rgb(209, 209, 217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86))
    rgb(110, 112, 120);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);
  transition: 0.2s ease-in-out;
}
.orderButton:hover:not(:active) {
  background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76))
    rgb(126, 126, 134);
}
.orderButton:active {
  top: 1px;
  background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
.popupButton {
  width: 120px;
}
textarea {
  resize: none;
}

.popUp {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  min-width: 500px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.popUpContent {
  position: absolute;
  height: auto;
  width: 85%;
  min-width: 400px;
  max-width: 700px;
}

.license {
  text-align: center;
  width: 800px;
}
.contacts,
.license,
.price,
.order {
  margin: 40px 0;
  padding: 20px;
  display: none;
  background-color: white;
  border-radius: 15px;
}
.contactsAdress {
  width: 560px;
  text-align: center;
  margin: 20px 0;
  font-size: 22px;
}
.contactsBorder {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  padding: 5px;
}
.priceTable {
  max-width: 920px;
  overflow-y: scroll;
  border-collapse: collapse;
  background-color: white;
}

.vertical {
  width: 30%;
  margin: 10px;
}

.horizontal {
  width: 45%;
  margin: 15px;
}

td {
  border: 2px solid;
  padding: 10px;
}

tr > td {
  max-width: 600px;
  min-width: 100px;
}

form p {
  text-align: left;
  text-indent: 0px;
}

input,
textarea {
  min-height: 30px;
  margin: 5px 0;
  padding: 5px;
}

.note {
  margin: 20px;
}

.sale {
  border: 2px dashed red;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}

.sale > span {
  font-weight: bold;
  font-size: 22px;
}

.close {
  position: absolute;
  width: 30px;
  font-size: 50px;
  color: red;
  cursor: pointer;
  top: -5px;
  right: -35px;
}
.noScroll {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}
.checkboxLabel {
  vertical-align: center;
  font-size: 15px;
  margin-top: -25px;
}
.checkboxLabel input {
  min-height: 0px;
}

/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
.nav {
  float: left;
  list-style: none;
  font-weight: bold;
  width: 35%;
}

.nav li {
  float: left;
  position: relative;
  display: block;
  margin-bottom: 3px;
}
.nav > li {
  margin-bottom: 3px;
  margin-left: 20px;
}
.nav li a {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: rgb(209, 209, 217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86))
    rgb(110, 112, 120);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);
  transition: 0.2s ease-in-out;
}
.nav li a:hover:not(:active) {
  background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76))
    rgb(126, 126, 134);
}
.nav li a:active {
  top: 1px;
  background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
.nav ul {
  list-style: none;
  position: absolute;
  left: -9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
  opacity: 0; /* Устанавливаем начальное состояние прозрачности */
  -webkit-transition: 0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
.nav ul li {
  padding-top: 3px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
  float: none;
}
.nav ul a {
  white-space: nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
  display: block;
}
.nav li:hover ul {
  /* Выводим выпадающий пункт при наведении курсора */
  left: -5%; /* Приносим его обратно на экран, когда нужно */
  opacity: 1; /* Делаем непрозрачным */
  max-width: none;
  width: 200%;
}
.nav li:hover:not(:active) a {
  /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
  background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76))
    rgb(126, 126, 134);
  text-decoration: none;
  transition: 0.5s;
}
.nav li:hover ul a {
  /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.075s linear;
}
.nav li:hover:not(:active) ul li a:hover:not(:active) {
  /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
  background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76))
    rgb(126, 126, 134);
  text-decoration: none;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  overflow-wrap: break-word; /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: normal;
  word-break: normal; /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: auto; /* нет поддержки для русского языка */
  hyphens: manual; /* значение auto не поддерживается Chrome */
}

.navRight {
  float: right;
}

.navRight li {
  float: right;
  margin-right: 20px;
}

.scrollUp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  color: #424242;
  cursor: pointer;
  visibility: hidden;
  border-radius: 60px;
  box-shadow: inset 0 0 0 4px #424242;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(200px);
}

.scrollUp:before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 30px;
  content: "↑";
}

.scrollUp:hover {
  color: #0a65cc;
}

.scrollUpActive {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.scrollUpPath {
  box-sizing: border-box;
  fill: none;
  stroke: #0a65cc;
  stroke-width: 4px;
  transition: 0.2s;
}

/*---Media---*/

@media (min-width: 600px) {
  header {
    background: url(../img/geokadnew600.png) top no-repeat;
    height: 200px;
  }
  .wrapper {
    width: 600px;
  }
  .mainArticle {
    width: 600px;
  }
  p {
    font-size: 15px;
    padding: 10px 20px;
  }
  h3 {
    font-size: 20px;
  }
  .mainBlock {
    width: 600px;
  }

  .list > li {
    font-size: 15px;
  }
  header > ul {
    margin: 10px;
  }
  header > ul > li {
    width: 60%;
    margin-top: 5px;
    text-align: center;
  }
  .clientsLogos {
    width: 600px;
  }
  .orderButton {
    width: 250px;
    height: 35px;
    font-size: 15px;
  }
  .popupButton {
    width: 120px;
  }
  .nav {
    width: 35%;
  }
  .nav > li {
    margin-bottom: 3px;
    margin-left: 20px;
  }
  .navRight li {
    margin-right: 20px;
  }
  .nav li a {
    font-size: 15px;
  }
  .nav li:hover ul {
    width: 200%;
  }
  h2 {
    padding-top: 30px;
    font-size: 27px;
  }
  .town {
    margin-top: 30px;
    width: 30%;
  }
  .popUpContent {
    width: 85%;
    max-width: 700px;
  }
  .scrollUp {
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
  }
  .scrollUp:before {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  header {
    background: url(../img/geokadnew960.png) top no-repeat;
    height: 250px;
  }
  .wrapper {
    width: 960px;
  }
  .mainArticle {
    width: 960px;
  }
  p {
    font-size: 18px;
    padding: 15px 30px;
  }
  h3 {
    font-size: 22px;
  }

  .mainBlock {
    width: 960px;
  }

  .list > li {
    font-size: 18px;
  }
  header > ul {
    margin: 20px;
  }
  header > ul > li {
    width: 60%;
    margin-top: 15px;
    text-align: center;
  }
  .clientsLogos {
    width: 960px;
  }
  .orderButton {
    width: 300px;
    height: 45px;
    font-size: 18px;
  }
  .popupButton {
    width: 150px;
  }
  .nav {
    width: 30%;
  }
  .nav > li {
    margin-bottom: 5px;
    margin-left: 25px;
  }
  .navRight li {
    margin-right: 25px;
  }
  .nav li a {
    font-size: 18px;
  }
  .nav li:hover ul {
    width: 160%;
  }
  h2 {
    padding-top: 30px;
    font-size: 30px;
  }
  .town {
    margin-top: 50px;
    width: 25%;
  }
  .popUpContent {
    width: auto;
    max-width: auto;
  }
  .scrollUp {
    right: 40px;
    bottom: 40px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
  .scrollUp:before {
    font-size: 40px;
  }
}

@media (min-width: 1440px) {
  header {
    background: url(../img/geokadnew1440.png) top no-repeat;
    height: 250px;
  }
  .wrapper {
    width: 1440px;
  }
  .mainArticle {
    width: 1440px;
  }
  p {
    font-size: 22px;
    padding: 20px 40px;
  }
  h3 {
    font-size: 24px;
  }

  .mainBlock {
    width: 1440px;
  }

  .list > li {
    font-size: 22px;
  }
  header > ul {
    margin: 20px;
  }
  header > ul > li {
    width: 60%;
    margin-top: 15px;
    text-align: center;
  }
  .clientsLogos {
    width: 1440px;
  }
  .orderButton {
    width: 350px;
    height: 55px;
    font-size: 22px;
  }
  .popupButton {
    width: 180px;
  }
  .nav {
    width: 35%;
  }
  .nav > li {
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .navRight li {
    margin-right: 30px;
  }
  .nav li a {
    font-size: 22px;
  }
  .nav li:hover ul {
    width: 110%;
  }
  h2 {
    padding-top: 40px;
    font-size: 38px;
  }
  .town {
    margin: 50px auto auto 0;
    width: 20%;
  }
  .popUpContent {
    width: auto;
    max-width: auto;
  }
  .scrollUp {
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  .scrollUp:before {
    font-size: 50px;
  }
}
